#cr_btnscan {width: 80px}
#cr_scanrankinglength {width: 50px}
#cr_scanresult {display:none; width:1000px; height:500px; overflow-x:auto; overflow-y:scroll; padding-bottom:2px; border:1px #000 solid; margin-top:5px}
#cr_scanresult .cr_result_item {margin-top:10px}
#cr_scanresult .cr_result_level {font-weight:bold}
#cr_scanresult .cr_result_list {white-space:nowrap}
#cr_scanresult .cr_result_highlight {color:#F00}
.cr_result_name {font-weight:bold; color:#F7C; font-size:16px}
.cr_result_cate {color:#777}
.cr_result_count {color:#F72}